@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Jaro', sans-serif;
}
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

body {
  letter-spacing: 0.4px;
}

.quizzie-play-btn,
.quizzie-setting-item {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.clip-btn {
  clip-path: polygon(
    0% 0%,
    90% 0%,
    100% 50%,
    90% 100%,
    0% 100%,
    8% 50%
  );
}

.play-btn {
  background: #99F6E4;
  padding: 16px 56px;
  font-size: 20px;
  font-weight: 800;
  color: #064E3B;
  border-radius: 18px;
  box-shadow: 0 8px 0 #2DD4BF;
  transition: all 0.15s ease;
}

.play-btn:active {
  transform: translateY(6px);
  box-shadow: 0 2px 0 #2DD4BF;
}

.clip-right {
  clip-path: polygon(
    6% 0,
    92% 0,
    100% 50%,
    92% 100%,
    6% 100%,
    0 50%
  );
}

.clip-left {
  clip-path: polygon(
    0 50%,
    8% 0,
    94% 0,
    100% 50%,
    94% 100%,
    8% 100%
  );
}

.clip-danger {
  clip-path: polygon(
    6% 0,
    94% 0,
    100% 50%,
    94% 100%,
    6% 100%,
    0 50%
  );
}
